// Font Variables
$font-Inter         :   'arial';

$font-regular       :   400;
$font-semibold      :   600;
$font-bold          :   700;

$font-size-base     :   16px;
$font-size-content  :   $font-size-base - 2px;
$font-size-banner   :   75px;

$color-primary      :   #AB52C5;
$color-secondary    :   #A0A0A0;
$color-Deep-Gray    :   #202020;
$color-dark-Gray    :   #4D4D4D;
$icon-dark-Gray     :   #5F6368;
$color-container    :   #F1F1F1;

:root{  
    --ion-default-font              : $font-Inter;
    --ion-font-family               : $font-Inter;

    --menu-selected-color           : #AB52C5;
    --content-background-color      : #F1F1F1;
    --icon-color-dark               : #5F6368;

    --ion-color-primary             : #AB52C5;
  
    }