<ion-content class="light-background">
   
          <ion-card>
            <ion-card-header>
              <ion-card-title>Upload Your Resume</ion-card-title>
            </ion-card-header>
            <ion-card-content><p>sdfsf</p>
              <!-- <form (submit)="onSubmit()">
                <ion-item>
                  <ion-label position="stacked">Choose File</ion-label>
                  <input type="file" accept=".pdf,.doc,.docx" (change)="onFileSelected($event)" />
                </ion-item>
                <ion-button expand="full" type="submit" color="primary" class="ion-margin-top">Upload</ion-button>
              </form>
              <ion-text color="success" *ngIf="uploadSuccess" class="ion-margin-top">File uploaded successfully!</ion-text> -->
            </ion-card-content>
          </ion-card>
  
  </ion-content>